version: '3.10.5'
services:
  db:
    container_name: postgresql
    image: postgres:14.5
    volumes:
      - ./data/db:/var/lib/postgresql/data
    env_file:
      - ./remotecontrol/.env
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - ./remotecontrol/.env
    environment:
      - POSTGRES_NAME=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    depends_on:
      - db